<ion-view view-title="Ayakashi Ghost Guild Fantasy"  class="signup-background">
  <ion-content class="padding">
    <h2>Welcome to the world of Ghost</h2>
    <img ng-src="{{chat.face}}">

    <div class="list card">

	  	<div class="item item-figure1">
	    <img src="img/figure1.png" style="width: 64px; height: 64px">
	    <h2>Username</h2>
	    <p>redhappiness</p>
	  </div>

	  <div class="item item-background">
	    <img src="img/figure2.png" style="width: 264px; height: 464px">
	  </div>

	  <a class="item item-icon-left assertive" href="#">
	    <i class="icon ion-music-note"></i>
	    Start listening
	  </a>

	</div>
  </ion-content>
</ion-view>

<style type="text/css">

</style>

